Repository acm-ucr/ieee-website, pull requests merged in 2023-05, with the labels that each got.

#81 add reponsive design
  components/About.jsx
Labels: about page

#78 Sarah/project svg
  components/Project.jsx
  pages/projects.js
Labels: ready to review, project page

#69 Add board color props and update board information
  components/BoardCard.jsx
  pages/board.js
Labels: board page

#84 Landing Page
  components/About.jsx
  components/Landing.jsx
  pages/_app.js
Labels: ready to review, home page

#93 Make join card wider in mobile
  components/JoinCards.jsx
Labels: home page

#104 Updated Join Cards Page and Landing Page
  components/JoinCards.jsx
  components/Landing.jsx
Labels: ready to review, home page
